/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
	overflow: auto; 
    background-color: #49726b;
    color: #fff;
}

h1 {
	font-family: 'Figtree', sans-serif;
	font-weight: 700;
	font-size: 48px;
}

h2 {
	font-family: 'Figtree', sans-serif;
	font-weight: 500;
	font-size: 24px;
}

.left-padding {
    margin-left:5vw;
}

h3 {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.scroll-title-1, .scroll-title-2 {
    transition: all 0.5s;
    white-space: nowrap;
}

.title-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.main-content {
    margin-top: 125vh;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top:37.5vh;
}

.subtitle-divider {
    width: 15%;
    height: 1px;
    background-color: #fff;
}

.main-content {
    opacity: 0;
    transition: all 0s;
}

.centered {
    font-size: 3rem;
    font-family: 'Figtree', sans-serif;
    text-align: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel {
	width: 40%;
	height: 40%;
	margin-left: 5vw;
	position: relative;
}

.project-img {
	width: 40%;
	height: 40%;
	margin-left: 5vw;
}

.carousel [data-carousel-slides] {
	padding: 0;
	margin: 0;
	list-style: none;
}

.carousel [data-carousel-dots] {
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 2;
	position: absolute;
	left: 50%;
	bottom: 2vh;
	transform: translateX(-50%);
	display: flex;
	gap: 1rem;
}

.carousel [data-carousel-dots] [data-carousel-dot] {
	background-color: black;
	height: 0.78rem;
	width: 0.78rem;
	border-radius: 0.78rem;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0.5;
}

.carousel [data-carousel-dots] [data-active] {
	opacity: 1;
}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: 200ms;
}

.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0ms;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.carousel-button {
	position: absolute;
	background: none;
	border: none;
	outline: none;
	font-size: 4rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.5s;
}

.carousel-button:hover,
.carousel-button:focus {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}

.carousel-button[data-carousel-btn="prev"] {
	left: 1rem;
}

.carousel-button[data-carousel-btn="next"] {
	right: 1rem;
}

.project-1 {
    position: relative;
}

.project-1 .carousel {
    width: 40%;
    float: left;
}

.project-1 .project-details {
    position: absolute;
    left: 45%;
    top: 0;
	width:40%;
}

.project-2 .project-content {
    display: flex;
}

.project-2 .project-details {
    left: 45%;
    top: 0;
	width:40%;
}

.project-3 .project-content {
    display: flex;
}

.project-3 .project-details {
    left: 45%;
    top: 0;
	width:40%;
}

.project-details > h2,
.project-details > p {
    margin: 0;
	margin-left:2vw;
}

.project-2 {
    display: block;
}

.project-3 {
    display: block;
}

.project-spacer {
    height:450px;
}

.timeline {
	width:800px;
	font-family: 'Figtree', sans-serif;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {display: inline-block; content: ""; width: 100%;}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #F2BB13;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}

.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
	top: -40px;
}
.timeline li:nth-child(even):before {
	bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}

.centered-div {
	display: flex;
	justify-content: center; 
	align-items: center;
}

.footer {
	background-color: #1d2423;
	height: 20vh;
}